* /* задаем для каждого элемента состояние дефолт */ {
  margin: 0; /* внешний отступ */
  padding: 0; /* внутрений отступ */
  box-sizing: border-box; /* Упрощаем алгоритм браузра */
}

.div /* обращаемся к контейнеру */ {
  width: 70%; /* задаем ширину 70% для блока */
  margin: auto; /* центрируем его */
  background-color: rgb(105, 199, 207); /* задаем фоновый цвет*/
  border-radius: 20px; /* округляем рамки нашего контейнера */
  padding: 30px; /* задаем внутрений отступ */
  border: solid 1px; /* задаем рамку */
}

img /* обращаемся к нашей фотографии */ {
  width: 400px; /* задаем ширину */
  height: 400px; /* задаем высоту */
  margin: 0 auto; /* ставим фото по центру */
}

p  /* обращаемся к тексту */ {
  line-height: 30px; /* регулируем высоту между рамками */
}

h1 {
  color: green;
}
